<pre>
  penis
  {{state | json}}
</pre>
<pre>
  cats
  {{(cats | async)|json}}
</pre>
<a routerLink="/login">login</a>
<button (click)="derp()">as</button>

<div class="row">
  <div class="col-md-4">
    <app-cat-avatar></app-cat-avatar>
  </div>
  <div class="col-md-4">
    <app-killing-stats></app-killing-stats>
  </div>
  <div class="col-md-4">
    <app-killing-feed></app-killing-feed>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-4">
    <app-cat-avatar></app-cat-avatar>
  </div>
  <div class="col-md-4">
    <app-killing-stats></app-killing-stats>
  </div>
  <div class="col-md-4">
    <app-killing-feed></app-killing-feed>
  </div>
</div>