<pre>
  {{user|json}}
</pre>
<button (click)="login()">login</button>
<button (click)="logout()">logout</button>
<a routerLink="catmanager">catmanger</a>

<br/>
<pre>
  {{(cats | async) | json}}
</pre>
<div class="row">
  <div class="col-md-4">
    <app-cat-avatar></app-cat-avatar>
  </div>
  <div class="col-md-4">
    <app-killing-stats></app-killing-stats>
  </div>
  <div class="col-md-4">
    <app-killing-feed></app-killing-feed>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-4">
    <app-cat-avatar></app-cat-avatar>
  </div>
  <div class="col-md-4">
    <app-killing-stats></app-killing-stats>
  </div>
  <div class="col-md-4">
    <app-killing-feed></app-killing-feed>
  </div>
</div>