<pre>
  penis
  {{user  | json}}
</pre>
<img [src]="user?.photoURL" />
<button class="btn btn-outline-primary" (click)="login()">login</button>
<button class="btn btn-outline-primary" (click)="logout()">Logout</button>

<div class="row">
  <div class="col-md-4">
    <app-cat-avatar></app-cat-avatar>
  </div>
  <div class="col-md-4">
    <app-killing-stats></app-killing-stats>
  </div>
  <div class="col-md-4">
    <app-killing-feed></app-killing-feed>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-4">
    <app-cat-avatar></app-cat-avatar>
  </div>
  <div class="col-md-4">
    <app-killing-stats></app-killing-stats>
  </div>
  <div class="col-md-4">
    <app-killing-feed></app-killing-feed>
  </div>
</div>