<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Cat Manager</h1>
    <p class="lead">Manage your cats here</p>
  </div>
</div>
<pre>
    {{form.name | json}}

</pre>
<div class="row">
  <div class="col-md">
    <form class="needs-validation" [formGroup]="form" (ngSubmit)="addCat()">
      <div class="form-group was-validated">
        <input type="text" class="form-control" id="validationName" formControlName="name" placeholder="Enter cats name" />
      </div>
      <button type="submit" class="btn btn-primary float-right" [disabled]="form.invalid">Add cat!</button>
    </form>
  </div>
  <div class="col-md">
    <ul class="list-group">
      <li class="list-group-item active">Cats</li>
      <li *ngFor="let cat of (cats | async)" class="list-group-item">
        {{cat.name}}
        <button type="button" class="btn btn-danger btn-sm float-right" (click)="deleteCat(cat.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>