<nav class="navbar navbar-expand-lg navbar-light bg-light space-bottom">
    <a class="navbar-brand" routerLink="/">Cat killing statistics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" (click)="toggleCollapse()"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="show" id="navbarToggler">
        <form class="form-inline my-2 my-lg-0">
            <select class="form-control mr-sm-2">
                <option disabled>Cat</option>
                <option value="mo">Mo</option>
                <option value="märta">Märta</option>
            </select>
            <input class="form-control mr-sm-2" type="text" placeholder="Enter Killed animal" aria-label="Register">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Register kill</button>
        </form>
    </div>
</nav>
<router-outlet></router-outlet>